<div ng-controller="singleItemCtrl">
    <img src="/Images/blank.gif" alt="" width="1" height="6" />
    <table id="tblContainer" style="width:99%; table-layout:fixed;">
        <tr>
            <td>
                <table style="background-color:#FFFFFF; border:dashed 3px #6D7B8D; padding:5px; width:99%; table-layout:fixed;" cellpadding="2" cellspacing="2">
                    <tr style="height:50px; background-color:#336699; color:#FFFFFF;  border:solid 1px #659EC7;">
                        <td><h3>Add Items to Cart</h3></td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td><img alt="" src="/Images/{{item.imageName}}" /></td>
                                    <td width="30"></td>
                                    <td valign="top">
                                        <table style="color:#9F000F; font-size:large" cellpadding="4" cellspacing="6">
                                            <tr>
                                                <td><b>Item Code</b></td>
                                                <td>:{{item.itemID}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Item Name</b></td>
                                                <td>:{{item.itemName}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Price</b></td>
                                                <td>:{{item.itemPrice}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Description</b></td>
                                                <td>:{{item.description}}</td>
                                            </tr>
                                            <tr>
                                                <td align="center" colspan="2">
                                                    <table>
                                                        <tr>
                                                            <td><input type="button" id="btnAdd" style="background-color:#4c792d; color:#FFFFFF; font-size:large; width:200px" value="Add to Cart" ng-click="showCart()" /></td>
                                                            <td rowspan="2"><img src="/Images/shopping_cart72.png" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <img src="/Images/blank.gif" alt="" width="1" height="4" />
            </td>
        </tr>
    </table>
</div>